*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata

*.jpg
*.jpeg
*.png


*.pdf
*.txt
*.doc
*.docx

*.xls
*.xlsx
*.csv
*.sav

*.pptx
*.ppt
*.shp
*.zip
*.7z

*.h5
*.bmp
*._.DS_Store
*.db
*.DS_Store

*.Rproj.user
*.mat
